@layer tailwind-base, primereact, tailwind-utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

@layer base {
    body {
        @apply font-poppins;
    }
}

@layer utilities {
    .flex-center {
        @apply flex justify-center items-center;
    }

    .flex-between {
        @apply flex justify-between items-center;
    }
}

@layer primereact {
    .p-stepper {
        
        .p-stepper-header {
            @apply opacity-25;
            .p-stepper-action {
                display: flex;
                flex-direction: column;
                @apply gap-2; 

                .p-stepper-title {
                    @apply text-white;
                    @apply m-0;
                }
                .p-stepper-number {
                    @apply text-secondary;
                    width: 56px;
                    height: 56px;                    
                }

            }

            &:has(~.p-highlight) {
                @apply opacity-100;
                .p-stepper-separator {
                    @apply bg-white;
                }
            }

            &.p-highlight {
                .p-stepper-action {
                    @apply opacity-100;
                }
            }
        }

    }    

    .p-datatable {
        .p-datatable-thead {
            th {
                @apply font-bold !important;
                @apply text-black;
                @apply bg-white !important;
                border-bottom: 1px solid #dee2e6 !important;
                border-top: 1px solid #D9D9D9 !important;
            }
        }

        .p-paginator-page {
            color: white !important;
            &.p-highlight {
                @apply bg-primary !important
            }
        }

        .p-paginator-page:not(.p-highlight) {
            color: #6b7280 !important;
        }
    
    }

    .p-timeline {
        &.p-timeline-horizontal {
            .p-timeline-event {
                .p-timeline-event-content {
                    width: fit-content;
                }
            }
        }
        
        &.p-timeline-vertical {
            .p-timeline-event {
                height: 10rem;

                .p-timeline-event-content {
                    width: 5rem;
                }
            }
        }
    }

    .p-carousel-horizontal {
        .p-carousel-indicators {
            display: none !important;
        }
    }
}