@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-poppins;
    }
}

@layer primereact {
    .p-stepper {
        
        .p-stepper-header {
            @apply opacity-25;
            .p-stepper-action {
                display: flex;
                flex-direction: column;
                @apply gap-2; 

                .p-stepper-title {
                    @apply text-white;
                    @apply m-0;
                }
                .p-stepper-number {
                    @apply text-secondary;
                    width: 56px;
                    height: 56px;                    
                }

            }

            &:has(~.p-highlight) {
                @apply opacity-100;
                .p-stepper-separator {
                    @apply bg-white;
                }
            }

            &.p-highlight {
                .p-stepper-action {
                    @apply opacity-100;
                }
            }
        }

    }    
}