@layer tailwind-base, primereact, tailwind-utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

@layer utilities {
    .flex-center {
        @apply flex justify-center items-center;
    }

    .flex-between {
        @apply flex justify-between items-center;
    }
}

@layer primereact {
    /* Apply Poppins to all dropdowns */
    .p-dropdown-label,
    .p-dropdown-item {
        font-family: 'Poppins', sans-serif !important;
    }

    .p-stepper {
        .p-stepper-header {
            @apply opacity-25;
            .p-stepper-action {
                display: flex;
                flex-direction: column;
                @apply gap-2;

                .p-stepper-title {
                    @apply text-white;
                    @apply m-0;
                }
                .p-stepper-number {
                    @apply text-secondary;
                    width: 56px;
                    height: 56px;
                }
            }

            &:has(~.p-highlight) {
                @apply opacity-100;
                .p-stepper-separator {
                    @apply bg-white;
                }
            }

            &.p-highlight {
                .p-stepper-action {
                    @apply opacity-100;
                }
            }
        }
    }

    .p-datatable {
        .p-datatable-thead {
            th {
                @apply font-medium !important;
                @apply text-black;
            }
        }

        &:not(.tracking) .p-datatable-thead {
            th {
                border-bottom: 1px solid #dee2e6 !important;
            }
        }

        &.tracking .p-datatable-thead {
            th {
                border-bottom: 1px solid #dee2e6 !important;
            }
        }

        .p-paginator-page {
            color: white !important;
            &.p-highlight {
                @apply bg-primary !important;
            }
        }

        .p-paginator-page:not(.p-highlight) {
            color: #6b7280 !important;
        }

        .p-column-header-content {
            display: block !important;
        }
    }

    .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
        background: #00C261 !important;
        border-color: #00C261 !important;
        color: #ffffff !important;
    }

    .p-timeline {
        &.p-timeline-horizontal {
            .p-timeline-event {
                .p-timeline-event-content {
                    width: fit-content;
                }
            }
        }

        &.p-timeline-vertical {
            .p-timeline-event {
                height: 10rem;

                .p-timeline-event-content {
                    width: 5rem;
                }
            }
        }

        &.tracking {
            gap: 1.25rem;
            .p-timeline-event {
                height: fit-content !important;
            }
        }
    }

    .p-carousel-horizontal:not(.with-indicators) {
        .p-carousel-indicators {
            display: none !important;
        }
    }

    .p-carousel-horizontal {
        .p-carousel-indicators {
            width: 100%;
            gap: 1rem;

            .p-carousel-indicator {
                margin: 0 !important;

                &.p-highlight button {
                    background: #00C261 !important;
                }
            }

            button {
                border-radius: 5rem !important;
                width: 4rem !important;
            }
        }

        &.staff-transactions-carousel,
        &.miller-transactions-carousel {
            .p-carousel-content {
                .p-carousel-container {
                    position: relative;

                    button {
                        position: absolute;
                        color: #00C261;

                        &.p-carousel-prev {
                            left: 0;
                            z-index: 9999;
                        }

                        &.p-carousel-next {
                            right: 0;
                        }
                    }

                    .p-carousel-items-container {
                        gap: 1rem;
                    }
                }
            }
        }
    }

    .p-calendar:not(.p-calendar-disabled).p-focus > .p-inputtext {
        box-shadow: none !important;
    }

    .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
        color: none !important;
        background: #f3f4f6 !important;
    }

    .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight.p-focus {
        background: #f3f4f6 !important;
    }

    .p-tabview.dashboard {
        .p-tabview-panels {
            padding: 0rem;
        }
      }

    .custom-dropdown .p-dropdown-trigger-icon {
        color: white !important;
    }

    .custom-dropdown .p-dropdown-label {
        color: white !important;
    }

    .p-password {
        .p-icon-field,
        input {
            width: 100%;
        }

        .p-input-icon {
            display: flex;
        }
    }

    .p-inputtext {
        &:hover,
        &:focus,
        &:enabled:hover {
            border: 1px solid #00C261;
        }
    }

    .p-selectbutton {
        .p-button.p-highlight {
            font-weight: 600;
        }

        &.login-select-button {
            .p-button.p-highlight {
                background: #00C261 !important;
                color: #ffffff !important;
            }
        }

        &.admin-select-button {
            .p-button.p-highlight {
                background: #00C261 !important;
                color: #ffffff !important;
            }
        }
    }

    .p-button-label {
        @apply font-medium !important;  
    }

    .p-calendar-w-btn {
        button {
            background-color: #00C261;

            &:hover {
                background-color: #009E4F !important;
            }
        }
    }

    .p-datepicker table td > span.p-highlight {
        background: #00C261 !important;
        color: #ffffff !important;

    }

    .p-monthpicker .p-monthpicker-month.p-highlight {
        background: #00C261 !important;
        color: #ffffff !important;
    }

    .p-yearpicker .p-yearpicker-year.p-highlight {
        background: #00C261 !important;
        color: #ffffff !important;
    }

    .p-accordion {
        &.right-sidebar-accordion {
            .p-accordion-header {
                .p-accordion-header-link {
                    background: none !important;
                    .p-accordion-toggle-icon {
                        display: none;
                    }
                }
            }
        }
    }
}

/* LOADER */
.sun {
    width: 80px;
    height: 80px;
    border-radius: 60px;
    position: absolute;
}

.sunshine {
    animation: sunshines 1s infinite;
}

@keyframes sunshines {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(1.6);
        opacity: 0;
    }
}